.Form{
    border: 5px;
    background-color: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin-left: 15%;
    margin-right: 20%;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-top: 3%;
    border: 2px black;
    box-shadow: 3px 3px 1px black;
}
ul{
    list-style: none;
}
ul.RadsBtn{
    display: flex;
    flex-direction: row;
}
textarea{
    resize: none;
    width: 80%;
    height: 5rem;
    box-sizing: border-box;
    outline-width: 0px;
    border: 0.8px dashed black;
    border-bottom: 3px solid black;
    background-color: lightblue;
}
textarea:focus{
    border: none;
    background-color: white;
}
input[type= text ]{
    width: 30%;
    border: none;
    border-bottom: 3px solid black;
    background-color: lightblue;
    transition: width 0.8s ease-out;
}
input[type = text ]:hover{
    border-bottom: 3px solid black;
    font-style: italic;
}
input[type = text ]:focus{
    outline-width: 0px;
    width: 80%;
    border: none;
    border-bottom: 3px solid black;
}
.EncHeader{
    font-size: 1.5rem;
}
button{
    width: 80%;
    box-shadow: 5px 3px 2px black;
    border: 10px black;
    margin: 4%;
    padding: 0.5rem;
}
button:hover{
    box-shadow: -2px -2px 2px black;
}
button:focus{
    box-shadow: none;
    background-color: gray;
    outline-width: 0px;
}
