body{
    box-sizing: border-box;
}
section{
    z-index: -2;
}
.Form{
    border: 5px;
    background-color: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin-left: 15%;
    margin-right: 20%;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-top: 3%;
    border: 2px black;
    box-shadow: 3px 3px 8px grey;
}
ul{
    list-style-type: none;
}
ul.radBtn{
    list-style: none;
    display: flex;  
    flex-direction: row;
}
textarea{
    resize: none;
    width: 80%;
    height: 5rem;
    box-sizing: border-box;
    outline-width: 0px;
    border: 0.8px dashed black;
    border-bottom: 3px solid black;
    background-color: lightblue;
}
textarea:focus{
    border: none;
    border: 1px dashed black;
    background-color: whitesmoke;
}
input[type= text ]{
    width: 30%;
    border: none;
    border-bottom: 3px solid black;
    background-color: lightblue;
    transition: width 0.8s ease-out;
}
input[type = text ]:hover{
    border-bottom: 3px solid black;
    font-style: italic;
}
input[type = text ]:focus{
    outline-width: 0px;
    width: 80%;
    border: none;
    border-bottom: 3px solid black;
}
.EncHeader{
    font-size: 1.5rem;
}
button.BtnSubmit{
    width: 80%;
    box-shadow: 5px 3px 2px black;
    border: 10px black;
    margin: 4%;
    padding: 0.5rem;
}
button:hover.BtnSubmit{
    box-shadow: -2px -2px 2px black;
}
button:focus.BtnSubmit  {
    box-shadow: none;
    background-color: gray;
    outline-width: 0px;
}
.Encrypted{
    padding-top: 0px;
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0rem;
    left: 0px;
    right: 0px;
    bottom: 0rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 12px 12px 12px;
    background-color: black;
    color: white;
    box-shadow: 100 100 100 black;
}

.popUpHeader{
    margin-top: 0rem;
    margin-bottom: 3rem;
}

.EncryptedDiv{
    margin-top: 0rem;
}

.hide{
    display: none;
}

.btnClose{
    left: 0;
    right: 0;
    margin-bottom: 2rem;
    width: 80%;
    background-color: black;
    color: whitesmoke;
    border: 3px solid white;
    border-radius: 12px 12px 12px;
    text-align: center;
    font-size: 1rem;
}
.btnClose:hover{
    font-style: italic;
    border: 4px solid white;
}
.btnClose:focus{
    color: black;
    outline-width: 0px;
    background-color: white;
    border: 4px solid lightblue;
}
.encryptionForm{
    margin-bottom: 1.5rem;
}